/* Color Theme Swatches in Hex */
.Fantastic-soft-white-clouds-against-blue-sky-background,
-soft-fo-1-hex {
  color: #559bd9;
}
.Fantastic-soft-white-clouds-against-blue-sky-background,
-soft-fo-2-hex {
  color: #5faad9;
}
.Fantastic-soft-white-clouds-against-blue-sky-background,
-soft-fo-3-hex {
  color: #94cef2;
}
.Fantastic-soft-white-clouds-against-blue-sky-background,
-soft-fo-4-hex {
  color: #d5e7f2;
}
.Fantastic-soft-white-clouds-against-blue-sky-background,
-soft-fo-5-hex {
  color: #a2dcf2;
}

/* Color Theme Swatches in Hex */
.The-Sky-Grew-Darker-1-hex {
  color: #1c418c;
}
.The-Sky-Grew-Darker-2-hex {
  color: #1d3973;
}
.The-Sky-Grew-Darker-3-hex {
  color: #142240;
}
.The-Sky-Grew-Darker-4-hex {
  color: #138af2;
}
.The-Sky-Grew-Darker-5-hex {
  color: #0cf2f2;
}

/* Color Theme Swatches in Hex */
.Fresh-half-slice-of-ripe-orange-fruit-floation-with-splash-drop-on-orange-juice-with-copy-space-1-hex {
  color: #f2b705;
}
.Fresh-half-slice-of-ripe-orange-fruit-floation-with-splash-drop-on-orange-juice-with-copy-space-2-hex {
  color: #f29f05;
}
.Fresh-half-slice-of-ripe-orange-fruit-floation-with-splash-drop-on-orange-juice-with-copy-space-3-hex {
  color: #f28705;
}
.Fresh-half-slice-of-ripe-orange-fruit-floation-with-splash-drop-on-orange-juice-with-copy-space-4-hex {
  color: #f27405;
}
.Fresh-half-slice-of-ripe-orange-fruit-floation-with-splash-drop-on-orange-juice-with-copy-space-5-hex {
  color: #f25c05;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #94cef2;
  
}
* {
  overflow-y: inherit!important;
}
a {
  text-decoration: none;
}
.nav-container a{
  z-index: 3;
  cursor: pointer;
}

.homepage-container {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}
.main-title-banner {
  font-size: 20vh;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-align: left;
  background: -webkit-linear-gradient(#138af2, #1d3973);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-title-banner-container{
  overflow-y: hidden!important;
}

.sub-title-banner {
  color: #1c418c;
  font-size: 3vh;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding-left: 1vh;
}
.sub-title-banner-container{
  overflow-y: hidden!important;
}

.arrow-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow-banner span {
  color: #d5e7f2;
  font-size: 10vh;
  margin-top: 10vh;
  animation-name: arrow-banner;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  cursor: pointer;
}
.page-selector {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70vh;
  margin: 25vh 0;
  position: relative;
}
.cardhome-container {
  width: 18vw;
  height: 60vh;
  transition: all 0.4s;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(#138af2, #1d3973);
  cursor: pointer;
  margin: 0 1vh;
  z-index: 3;
}
.home-nav-bar{
  width: 100%;
}
/* .cloud-nav-bar{
  animation: move 6s ease infinite; 
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #FFFFFF;
  height: 18vh;
  width: 18vh;
  box-shadow: #FFFFFF 200px -40px 0 -5px,  #FFFFFF 75px -77px,  #FFFFFF 120px 50px,  #FFFFFF 250px 50px 0 15px,  #FFFFFF 300px 20px 0 -2px;
}
.cloud-parent{
  position: absolute;
 
}
.cloud-parent:hover div{
  outline: #000 3px 3px 2px;
}
.text-cloud-container{
  background: -webkit-linear-gradient(#138af2, #1d3973);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4.8vh;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: center;
  position: absolute;
  left: 50%;
  width: 200%;
}
.cloud0{
  top: 5vh;
  left: 15vh;
}
.cloud1{
  transform: scale(0.8);
  top: 8vh;
  right: 39vh;
}

.cloud2{
  top: 55vh;
  left: 15vh;
}

.cloud3{
  top: 30vh;
  left: 70vh;
  transform: scale(1.1);
}

.cloud4{
  top: 50vh;
  right: 45vh;
} */
.cardhome-container:hover {
  transform: scale(1.05);
}
.cardhome-container:hover .blur {
  display: block;
}

.cardhome-title {
  font-size: 4vh;
  font-family: "Poppins", sans-serif;
  color: #d5e7f2;
  font-weight: 800;
  z-index: 2;
  text-align: center;
}
.blur {
  -webkit-backdrop-filter: blur(4px); /* Chrome, Safari, Opera */
  backdrop-filter: blur(4px) opacity(50%);
  width: 18vw;
  height: 60vh;
  position: absolute;
  display: none;
  transition: all 0.4s;
}

.nav-container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;

  box-shadow: 0 0 15px 5px #ffffff80;
}
.nav-container-container:hover{
  top: 0!important;
}
.nav-container-container{
  transition: all 0.2s;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 5;
}
.nav-container div {
  color: #1c418c;
  font-size: 2.2vh;
  font-family: "Poppins", sans-serif;
  margin: 0 2vh;
  font-weight: 500;
}
.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 50vh 0;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
}

.grid-container-project {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 5%;
  column-count: 3;
  row-gap: 5%;
  width: 80%;
  height: 100%;
  justify-items: center;
  margin-top: 5%;
}
.projectcard-container {
  background-color: #1c418c;
  width: 40vh;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.2s;
  cursor: pointer;
  border-radius: 3px;
}
.project-title {
  font-size: 4vh;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #d5e7f2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1vh;
}
.project-container-title{
  transition: all 0.5s;

}
.langages-title {
  opacity: 0;
  transition: all 0.2s;
  font-family: "Poppins", sans-serif;
  color: #d5e7f2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.projectcard-container:hover .langages-title {
  opacity: 1;
}
.projectcard-container:hover {
  transform: scale(1.2);
  box-shadow: 2px 2px 5px 2px #142240;
}
.icon-langage {
  font-size: 4vh;
  margin: 10% 6% 0 6%;
}
.projectdetails-container {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  margin-top: 5vh ;
}
.return-btn{
  position: absolute;
  left: 3vw;
  top: 3vh;
  padding: 0.5vh 1vh;
  font-size: 3vh;
  background-color: #142240;
  color: #cddae2;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-projectdetails {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-name {
  font-size: 7vh;
  font-family: "Poppins", sans-serif;
  color: #d5e7f2;
  font-weight: 800;
}
.table-container {
  margin-left: 5%;
  width: max-content;
}
.table-document-header {
  width: 100%;
  height: 5vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 3vh;
}
.table-document-header div {
  color: #d5e7f2;
  color: #cddae2;
  background-color: #142240;
  border-radius: 12px 12px 0 0;
  width: 50%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.table-document {
  width: 100%;
  border-collapse: collapse;
  border-radius: 3px;
}
.pdf-icon {
  color: #cb0606;
  font-size: 3vh;
  margin-left: 2%;
}
.table-document tr div {
  padding: 3%;
  width: 100%;
  font-size: 2.7vh;
  font-family: "Poppins", sans-serif;
}
.top-project-detail{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.project-description{
  width: 50%;
  font-size: 2.8vh;
  font-family: 'Poppins', sans-serif;
  color: #142240;
  font-weight: 500;
  padding: 0.5vh 1vh;
  border-radius: 5px;
  margin: 0 5%;
}
.slider-container{
  margin-top: 6vh;
  padding: 2vh;
}
.project-img {
  height: 100%;
  width: auto;
  object-fit: contain;
  border-radius: 5px;
}
@keyframes arrow-banner {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.custom-shape-divider-bottom-1651960265 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1651960265 svg {
  position: relative;
  display: block;
  width: calc(118% + 1.3px);
  height: 169px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1651960265 .shape-fill {
  fill: #ffffff;
}
.custom-shape-divider-top-1651960325-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-top-1651960325-2 svg {
  position: relative;
  display: block;
  width: calc(118% + 1.3px);
  height: 169px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1651960325-2 .shape-fill {
  fill: #ffffff;
}
.custom-shape-divider-top-1651960325 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1651960325 svg {
  position: relative;
  display: block;
  width: calc(118% + 1.3px);
  height: 169px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1651960325 .shape-fill {
  fill: #ffffff;
}
.about-container{
  font-family: "Poppins", sans-serif;
  margin: 22vh 0 ;

}
.about-me-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5vh;
  position: relative;
}

.about-me-text{
  width: 50%;
  font-size: 2.8vh;
  text-align: justify;
  font-weight: 500;
  color: #142240;
}
.about-me-text span{
  font-size: 4vh;
  font-weight: 600;
}

.about-me-picture{

  width: 40vh;
  height: 40vh;
  object-fit: cover;
  object-position: 50% 0%;
  border-radius: 50%;
  border: #d5e7f2 20px solid;

  
}

.img-about-me-text{
  position: absolute;
  bottom: -10vh;
  left: 3vh;
  background-color: #d5e7f2;
  padding: 0.5vh 1vh;
  border-radius: 5px;
  font-weight: 700;
  font-size: 2.8vh;
  border: solid #000 5px;
}

.experience-container{
  margin-top: 25vh;
}

.bts-sio-container{
  margin-top: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-title-about, .project-container-title, .main-title-veille, .sujets-veille-title{
  font-size: 6vh;
  font-weight: 700;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1c418c;
  margin: 5vh 0;

}
.bts-sio-desc{
  font-size: 2.5vh;
  width: 90%;
  text-align: center;

}

.title-document{
  transition: all 0.2s ease-in-out;
}

.veille-container{
  font-family: 'Poppins', sans-serif;

}

.outils-sources-veille-container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.outils-sources-veille-container ul {
  list-style: none;
}
.outils-veille-title, .sources-veille-title{
  font-size: 4vh;
  font-weight: 600;
  color: #cddae2;
  background-color: #142240;
  padding:1vh 2vh;
  width: fit-content;
  border-radius: 10px;
}


.outils-veille-container ul li, .sources-veille-container ul li{
  font-size: 2.8vh;
  color: #142240;
  font-weight: 500;
  background-color: #cddae2b9;
  margin: 1vh 0;
  padding: 0.5vh 1vh;
  border-radius: 10px;
  border-left: 10px #142240 solid;

}

.li-element-sub-text{
  font-size: 1.7vh;
}

.outils-veille-container ul li img{
  width: 10vh;
}

.outils-veille-container, .sources-veille-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}
.sujets-veille-container {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sujets-veille-container ul{
  list-style: none;
  width: 75%;
}

.top-section-sujet{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  height: 8vh;

}
.sujets-veille-container ul li{
  font-size: 4vh;
  color: #142240;
  font-weight: 500;
  background-color: #cddae2b9;
  margin: 1vh 0;
  border-radius: 10px;

}
.articles-sujet-container{
  transition: all 0.4s;

}
.articles-sujet-container ul{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.articles-sujet-container ul li {
  width: 100%;
}

.btn-open-article{
  cursor: pointer;
  background-color: #142240;
  color: #cddae2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 4%;
  height: 100%;
  border-top-left-radius: 10px;
}